html{
		font:normal normal 14px "Microsoft YaHei","sans-serif";
	}
body,ul,ol,dl,h1,h2,h3,p,hr{
		margin: 0;
		padding: 0;

	}
ul,ol{
		list-style: none;
	}
	a{
		color:#333;
		text-decoration: none;
	}
